@font-face {
  font-family: "raleway";
  src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "courier-prime";
  src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}
html,
body {
  height: 100%;
}

body {
  background-color: #353442;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "raleway";
}

h1 {
  font-size: 46px;
  font-weight: 400;
}

h1.name {
  margin-bottom: 15px;
}

h2 {
  font-weight: 600;
  margin-bottom: 15px;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 7.5px;
}

.block {
  margin-bottom: 45px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 3.7px;
}
.row .title {
  flex: 0 0 132px;
}

.star {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #d3cdfe;
  border-radius: 13px;
  margin-left: -10px;
  margin-right: 3.7px;
  position: relative;
  left: 10px;
  top: 2px;
}

.stars-1 .star:nth-child(1) {
  background-color: #6740f7;
}

.stars-2 .star:nth-child(1) {
  background-color: #6740f7;
}
.stars-2 .star:nth-child(2) {
  background-color: #6740f7;
}

.stars-3 .star:nth-child(1) {
  background-color: #6740f7;
}
.stars-3 .star:nth-child(2) {
  background-color: #6740f7;
}
.stars-3 .star:nth-child(3) {
  background-color: #6740f7;
}

.stars-4 .star:nth-child(1) {
  background-color: #6740f7;
}
.stars-4 .star:nth-child(2) {
  background-color: #6740f7;
}
.stars-4 .star:nth-child(3) {
  background-color: #6740f7;
}
.stars-4 .star:nth-child(4) {
  background-color: #6740f7;
}

.stars-5 .star:nth-child(1) {
  background-color: #6740f7;
}
.stars-5 .star:nth-child(2) {
  background-color: #6740f7;
}
.stars-5 .star:nth-child(3) {
  background-color: #6740f7;
}
.stars-5 .star:nth-child(4) {
  background-color: #6740f7;
}
.stars-5 .star:nth-child(5) {
  background-color: #6740f7;
}

.root {
  background-color: white;
  flex: 100%;
  max-width: 1620px;
  display: flex;
}

.container {
  flex: 100%;
  padding: 90px;
}

.left-container {
  background-color: white;
  padding-right: 45px;
}

.right-container {
  padding-left: 45px;
  background-color: #f3f2fc;
}

.time-line-block {
  margin-bottom: 30px;
}
.time-line-block h2 {
  margin-bottom: 15px;
}
.time-line-block .game-info {
  display: flex;
  margin-bottom: 15px;
}
.time-line-block .game-info h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.time-line-block .game-info .info {
  flex: 100%;
  padding: 15px;
}
.time-line-block .game-info .buttons {
  padding-top: 15px;
  flex: 0 0 160px;
}
.time-line-block .game-info .buttons a.button-primary {
  margin-bottom: 7.5px;
}
.time-line-block .game-info:hover .buttons {
  display: block;
}
.time-line-block .game-info:last-child {
  margin-bottom: 0px;
}
.time-line-block .cover {
  display: block;
  flex: 0 0 113px;
  height: 90px;
  background-color: #5f5973;
}

a.button {
  display: block;
  padding: 7px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

a.button-primary {
  background-color: #6740f7;
  color: white;
}

a.button-secondary {
  color: #6740f7;
  outline: #6740f7 solid 1px;
  outline-offset: -1px;
}

a.button:hover {
  background-color: #2e1a76;
  color: white;
}

a.button-disabled {
  opacity: 0.2;
}

.centered-root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.centered-root .content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 90px;
  flex: 100%;
  max-width: 1280px;
  background-color: white;
}

.play-page-title {
  display: flex;
}
.play-page-title h2 {
  flex: 100%;
}
.play-page-title .buttons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.play-page-title a.button {
  margin-left: 15px;
  min-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.game-view {
  width: 100%;
  height: 720px;
}
.game-view iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 980px) {
  .root {
    display: block;
  }
  .left-container {
    padding-right: 90px;
  }
  .right-container {
    padding-left: 90px;
  }
}/*# sourceMappingURL=style.css.map */