@font-face {
    font-family: "raleway";
    src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "courier-prime";
    src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

html,
body {
    height: 100%;
}

body {
    background-color: #353442;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "raleway";
}

h1 {
    font-size: 46px;
    font-weight: 400;
}

h1.name {
    margin-bottom: 15px;
}

h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 7.5px;
}

.block {
    margin-bottom: 45px;
}

.row {
    // div {
    //     display: inline-block;
    // }
    display: flex;
    flex-wrap: nowrap;
    .title {
        flex: 0 0 132px;
        // width: 132px;
    }
    margin-bottom: 3.7px;
}

.star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #d3cdfe;
    border-radius: 13px;
    margin-left: -10px;
    margin-right: 3.7px;
    position: relative;
    left: 10px;
    top: 2px;
}

@for $i from 1 through 5 {
    .stars-#{$i} {
        @for $j from 1 through $i {
            .star:nth-child(#{$j}) {
                background-color: #6740f7;
            }
        }
    }
}

.root {
    // width: 100%;
    background-color: white;
    flex: 100%;
    max-width: 1620px;
    // height: 100%;
    display: flex;
}

.container {
    flex: 100%;
    overflow: scroll;
    // height: 100%;
    // box-sizing: content-box;
}

.container-content {
    padding: 90px;
}

.left-container {
    background-color: white;
    .container-content {
        padding-right: 45px;
    }
}

.right-container {
    background-color: #f3f2fc;
    .container-content {
        padding-left: 45px;
    }
}

.time-line-block {
    margin-bottom: 30px;
    h2 {
        margin-bottom: 15px;
    }
    .game-info {
        display: flex;
        margin-bottom: 15px;
        h6 {
            font-family: "Courier New", Courier, monospace;
            font-size: 16px;
        }
        .info {
            flex: 100%;
            padding: 15px;
        }
        .buttons {
            // display: none;
            padding-top: 15px;
            flex: 0 0 160px;
            a.button-primary {
                margin-bottom: 7.5px;
            }
        }
        &:hover {
            .buttons {
                display: block;
            }
        }
    }
    .game-info:last-child {
        margin-bottom: 0px;
    }
    .cover {
        display: block;
        flex: 0 0 113px;
        height: 90px;
        background-color: #5f5973;
    }
}

a.button {
    display: block;
    padding: 7px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

a.button-primary {
    background-color: #6740f7;
    color: white;
}

a.button-secondary {
    color: #6740f7;
    outline: #6740f7 solid 1px;
    outline-offset: -1px;
}

a.button:hover {
    background-color: #2e1a76;
    color: white;
}

a.button-disabled {
    opacity: 0.2;
}

.centered-root {
    width: 100%;
    display: flex;
    justify-content: center;
    .content {
        height: fit-content;
        padding: 90px;
        flex: 100%;
        max-width: 1280px;
        background-color: white;
    }
}

.play-page-title {
    display: flex;
    h2 {
        flex: 100%;
    }
    .buttons {
        width: fit-content;
    }
    a.button {
        margin-left: 15px;
        min-width: 200px;
        height: fit-content;
    }
}

.game-view {
    width: 100%;
    height: 720px;
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

@media (max-width: 980px) {
    .root {
        display: block;
    }
    .left-container {
        .container-content {
            padding-right: 90px;
        }
    }

    .right-container {
        .container-content {
            padding-left: 90px;
        }
    }
}
