@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Dela Gothic One", sans-serif;
  background: url("assets/background.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  max-width: 1500px;
  padding-top: 150px;
  text-align: center;
  z-index: 100;
}

.top-image {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(450px, 54vw, 900px);
  height: auto;
  z-index: 1;
}

.title {
  font-size: clamp(4rem, 16vw, 14rem);
  color: #000;
  line-height: 1.1;
  margin-bottom: 4vh;
  white-space: nowrap;
}

.subtitle {
  font-size: clamp(2rem, 4vw, 4rem);
  color: #c31c2a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  white-space: nowrap;
}

.itch-icon {
  width: clamp(80px, 10vw, 120px);
  height: auto;
  transition: transform 0.2s ease;
  animation: jump 1.2s infinite ease-in-out;
}

.itch-icon:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease;
  animation: hover 0.3s forwards;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

@keyframes hover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }

.footer {
    position: absolute;
    top: 100%;
    margin-top: -40px;
    font-family: sans-serif;
}

.footer a {
    color: #E1DFF5;
}

.footer a:visited {
    color: #E1DFF5;
}